openapi: 3.0.3
info:
  title: Dokumen API Cloud Function - OpenAPI 3.0
  description: >-
    Dokumen API Cloud Function Aplikasi Kesehatan HealHero
  termsOfService: https://github.com/HealHeroo/swagger
  contact:
    url: https://healhero.my.id/proposal3/menu/biodata
  license:
    name: HealHero Package
    url: https://pkg.go.dev/github.com/HealHeroo/be_healhero
  version: 1.0.11
externalDocs:
  description: Repo GCF
  url: https://github.com/HealHeroo/gcf_healhero
servers:
  - url: https://asia-southeast2-peak-equator-402307.cloudfunctions.net
tags:
  - name: Auth
    description: Auth to Access to API
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/HealHeroo/gcf_healhero/tree/main/login
  - name: SignUp Pengguna
    description: Regist Pengguna
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/HealHeroo/gcf_healhero/tree/main/signup_pengguna
  - name: SignUp Driver
    description: Regist Driver
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/HealHeroo/gcf_healhero/tree/main/signup_driver
  - name: User
    description: Get Data User by Admin
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/HealHeroo/gcf_healhero/tree/main/user
  - name: Pengguna
    description: Pengguna to Access to API
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/HealHeroo/gcf_healhero/tree/main/pengguna
  - name: Driver
    description: Driver to Access to API
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/HealHeroo/gcf_healhero/tree/main/driver
  - name: Obat
    description: Obat to Access to API
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/HealHeroo/gcf_healhero/tree/main/obat
  - name: Order
    description: Order to Access to API
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/HealHeroo/gcf_healhero/tree/main/order
  - name: Email
    description: Change Email
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/HealHeroo/gcf_healhero/tree/main/email
  - name: Password
    description: Change Password
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/HealHeroo/gcf_healhero/tree/main/password
paths:
  /login:
    post:
      tags:
        - Auth
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Login"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "405":
          description: Invalid input
  /user:
    get:
      tags:
        - User
      summary: Get User By ID
      description: List Data User
      operationId: getUserByID
      parameters:
        - name: id
          in: query
          schema:
            type: string
          description: ID of the User
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                  $ref: "#/components/schemas/UserData"
        "400":
          description: Invalid status value
      security:
        - token:
            - write: apiKey
            - read: apiKey
  /signuppengguna:
    post:
      tags:
        - SignUp Pengguna
      summary: Signup Pengguna
      description: Register a new Pengguna
      operationId: signupPengguna
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignupPenggunaRequest"
      responses:
        "201":
          description: Pengguna signed up successfully
        "400":
          description: Invalid input or Pengguna already exists
  /signupdriver:
    post:
      tags:
        - SignUp Driver
      summary: Signup Driver
      description: Register a new Driver
      operationId: signupDriver
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignupDriverRequest"
      responses:
        "201":
          description: Driver signed up successfully
        "400":
          description: Invalid input or Driver already exists
  /pengguna:
    get:
      tags:
        - Pengguna
      summary: Get Pengguna by ID oleh Admin
      description: Get a Pengguna by its ID
      operationId: getPenggunaById
      parameters:
        - name: id
          in: query
          schema:
            type: string
          description: ID of the Pengguna
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pengguna"
        "404":
          description: Pengguna not found
      security:
        - token:
            - write: apiKey
            - read: apiKey
  /driver:
    get:
      tags:
        - Driver
      summary: Get Driver by ID
      description: Get a Driver by its ID
      operationId: getDriverById
      parameters:
        - name: id
          in: query
          schema:
            type: string
          description: ID of the Driver
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Driver"
        "404":
          description: Driver not found
      security:
        - token:
            - write: apiKey
            - read: apiKey
  /obat:
    post:
      tags:
        - Obat
      summary: Create Obat
      description: Create a new Obat
      operationId: createObat
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Obat"
      responses:
       